*.bbl
*.blg
*.log
*.bcf
*.aux
*.run.xml
*.synctex.gz
*.toc
*.bib.bak
*.fdb_latexmk
*.fls
ER/tex/*.pdf
DDL/tex/*.pdf
DML/tex/*.pdf
SP/tex/*.pdf
Transactions/tex/*.pdf
Triggers/tex/*.pdf
ORM/tex/*.pdf
gen/tex/*.pdf